.container {
  padding: 0 2rem;
  background-color: #0d0d0d;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.votes {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.vote_title {
  color:white;
  margin-bottom: 1rem;
}

.upvote {
  background-color: #0f8031;
  color: white;
  padding: 0.5rem;
  border-radius: 5%;
  border: none;
  margin-right: 1.5rem;
}

.upvote:hover,
.upvote:focus,
.upvote:active {
  background-color: #242424;
  color: white;
}


.downvote {
  background-color: #a11612;
  color: white;
  padding: 0.5rem;
  border-radius: 5%;
  border: none;
}

.downvote:hover,
.downvote:focus,
.downvote:active {
  background-color: #242424;
  color: white;
}



.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: white;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: white;
}

.title_recent {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: white;
}

.generate_title {
  margin-bottom: 2rem;
  font-size: 2rem;
  color: white;
}

.address {
  color:white;
  margin-bottom: 2rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
  color: white;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.text_box {
  width: 600px;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.submit {
  margin-top: 2rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  background: #f5f5f5;
  border: #f5f5f5;
}

.submit:hover,
.submit:focus,
.submit:active {
  background: #242424;
  color: white;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: black;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
  background-color: white;
}

.card_recent {
  margin: 1rem;
  padding: 1rem;
  text-align: left;
  color: black;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  min-width: 800px;
  max-width: 800px;
  background-color: white;
}

.card_recent:hover,
.card_recent:focus,
.card_recent:active {
  color: #0070f3;
  border-color: #0070f3;
  background-color: #121212;
}

.card_recent h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card_recent p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}
.card_recent:hover,
.card_recent:focus,
.card_recent:active h2 {
  color: white;
}

.card_recent:hover,
.card_recent:focus,
.card_recent:active p {
  color: white;
}



.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
  background-color: #121212;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.contract_name {
  margin: 0 1 1rem 0;
  font-size: 1.5rem;
  color: #0070f3;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}
.card:hover,
.card:focus,
.card:active h2 {
  color: white;
}

.card:hover,
.card:focus,
.card:active p {
  color: white;
}

.table_container {
  margin-top: 4rem;
}

.table {
  background-color: #DBE5EB;
  color: white;
}

.table_head {
  background-color: #edebeb;
  color: #eaeaea;
}

.table_row {
  border: #121212;
  color: white;
}

.table_cell {
  border: #121212;
  color: white;
  max-width: 500px;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}



@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
